- t = R18n.get
- t.reload!
!!! 5
%html
  %head
    %title= t.meta.title
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="description" content="#{t.meta.description}")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    %link(href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold' rel='stylesheet' type='text/css')
    = stylesheets
  %body
    = yield
  %footer
    %p= t.trademark
    - if t.thanks.translated?
      %p= t.thanks
    %p= t.this(:url => "http://github.com/RKelln/Ubuntu-Homepage")
  %ul#languages
    %li= link "English", "index_en.html"
    %li= link "Deutch", "index_de.html"
    %li= link "Español", "index_es.html"
    %li= link "Português", "index_pt.html"
    
    
